#container {
    display: flex;
    flex-direction: row;
}

#title {
    font-size: 46px;
    margin: 20px;
}

#timer {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 28px;
}

#imageHint {
    margin-left: 20px;
    width: 300px;
}

#puzzleCanvas {
    position: static !important;
    margin-left: 100px;
}
